nav .navbar-brand, nav .navbar-item {
  padding: 15px;
}
nav .navbar-toggler {
  margin-right: 15px;
  padding: 2.5px;
}

#main-title, #local-time {
  text-align: center;
  margin-top: 2em;
}

#main-title {
  margin: 30px;
  padding: 5px;
}

#map {
  height: 580px;
  margin: 3em 5em 5em 5em;
}

form {
  background-color: rgb(248, 249, 250);
  margin-bottom: 4em;
  padding: 2em;
}

form label {
  margin: 8px auto 8px auto;
}

form button {
  margin-top: 8px;
}

/* ABOUT PAGE */

#about-main-text {
  margin: 2em;
  margin-bottom: 3em;
}

#about-main-heading {
  margin-top: 2em;
}

/* LOGIN PAGE */
.login-body{
	margin:0;
}

.login-box{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background: #c0bebe7a;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-snip{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 10px 70px;
	background:#ffffffbd;
}
.login-snip .login,
.login-snip .sign-up-form{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check{
	display:none;
}
.login-snip .tab,
.login-space .group .label,
.login-space .group .button{
	text-transform:uppercase;
}
.login-snip .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 1px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab{
	color:#0e0d0d;
	border-color:#0e0d0d;
  margin-bottom: 8px;
}
.login-space{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-space .group{
	margin-bottom:8px;
}
.login-space .group .label,
.login-space .group .input,
.login-space .group .button{
	width:100%;
	color:#ffffff;
	display:block;
}
.login-space .group .input,
.login-space .group .button{
	border:none;
	padding:8px 20px;
	border-radius:25px;
	background:rgba(95, 57, 57, 0.1);
}
.login-space .group input[data-type="password"]{
	/* text-security:circle; */
	-webkit-text-security:circle;
}
.login-space .group .label{
	color:#aaa;
	font-size:12px;
}
.login-space .group .button{
	background:#116957;
  margin-top: 2rem;
}
.login-space .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-space .group label .icon:before,
.login-space .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-space .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-space .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-space .group .check:checked + label{
	color:#080808;
}
.login-space .group .check:checked + label .icon{
	background:#1161ee;
}
.login-space .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-space .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login{
	transform:rotate(0);
}
.login-snip .sign-up:checked + .tab + .login-space .sign-up-form{
	transform:rotate(0);
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot{
	text-align:center;
  margin-top: -40px;
}
.card{
	width: 500px;
	left: 100px;
  margin-top: 6rem;
}

::placeholder{
color: #b3b3b3;
} 
